<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-secondary bg-gradient ">
            <div class="mobile-screen">
                <div class="mobile-inner">
                    <div class="smart">
                        <div id="dettaglio">
                    </div>
                    <div id="acenzione-button"></div>
                    <div class="inner-div">
                        <div class="frame-posizione">
                            <div id="header">
                                <div class="wrap">
                                    <div id="mobId" class="mobId"></div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="bottone"></div>
                </div>
            </div>
        </div>
    </div>
</div>